<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/normalaze.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mobile.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <header class="navbar">
        <div class="container">
            <nav class="nav">
                <a href="#">Astra</a>

                <ul class="navbar-nav">
                    <li><a href="{{ url_for('home') }}" class="navbar__Base">База</a></li>
                    <li><a href="{{ url_for('create') }}" class="">Создать</a></li>
                    <li><a href="{{ url_for('posts') }}" class="">Посты</a></li> 
                </ul>

                <form action="#" name="search" class="form-nav">
                    <label for="searchInput">Поиск</label>
                    <input type="search" name="search" id="searchInput">
                </form>

                <a href="#">Войти</a>

            </nav>
        </div>
    </header>


    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="social">
                    <a href="#">Astra</a>
                    <address>
                        <a href="https://github.com/Gennanka">My GitHub</a>
                    </address>
                </div>
                <div class="contacts">
                    <a href="#">Войти</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
