{% extends "base.html" %}

{% block title %}
Main page
{% endblock %}


{% block content %}

<main>
    <section>
        <div class="container">
            <div class="header-title-name">

                <h1>АстрАрхив</h1>
                <p>Место сохранности истории и культуры нашего города. Присоединяйся и улучшай свою Родину.</p>
            
            </div>
        </div>
        <img src="../static/doc/asss.jpg" alt="">
    </section>

    <section class="text-block">
        <div class="container">
            <div class="header-title-name">

                <h1>Lorem ipsum</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, dolores! Sed expedita, officia necessitatibus corrupti eveniet amet quae vitae laborum aliquid hic. At facilis laborum ipsum culpa dignissimos quasi molestiae.</p>
            
            </div>

            <div class="inner-block">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores rerum ut perspiciatis doloremque excepturi magni. Cum, porro quam, quae architecto libero quod quis nulla</p>

                <img src="../static/doc/Simv.jpg" alt="">
            </div>

            <div class="inner-block">
                <img src="../static/doc/Simv.jpg" alt="">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores rerum ut perspiciatis doloremque excepturi magni. Cum, porro quam, quae architecto libero quod quis nulla</p>
            </div>

        </div>
    </section>


</main>








{% endblock %}